/* .rerank {
    margin-top: var(--header-height);
} */

.query {
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    top: -2.4rem;
    left: 18rem;
    z-index: 1000;
}

.buttons {
    height: 5rem;
    width: 100%;
    padding: 0rem 4rem 2rem 0rem;
    
    display: flex;
    justify-content: flex-end;
    /* border-bottom: 1px solid #d0d0d0; */

    transition: all 0.3s ease-in-out;
}

.buttons button {
    height: 3rem;
    width: 5rem;
    border-radius: 1rem;
    font-size: 1rem;
    margin: 0 1rem;
}