.page {
    display: grid;
    grid-template-rows: 1fr 7rem;
    height: calc(100vh - var(--header-height));
}

.rerank {
    overflow: auto;
}

.buttons {
    height: 7rem;
    width: 100%;
    padding: 2rem 4rem;

    display: flex;
    justify-content: flex-end;
    border-top: 1px solid var(--soild-line-color);

    transition: all 0.3s ease-in-out;
}

.buttons button {
    height: 3rem;
    width: 5rem;
    border-radius: 1rem;
    font-size: 1rem;
    margin: 0 1rem;
}