:root {
    --rank-gap: 1rem;
    --rank-padding: 1rem;
    --rank-height: 12rem;

    --item-grid: 10rem;
    --item-content: 9rem
}

.table {
    width: 100%;
    height: auto;

    display: grid;
    grid-auto-flow: row dense;
    grid-auto-rows: max-content;
}
