:root {
    --rerank-rank-gap: 1rem;
    --rerank-rank-padding: 1rem;

    --rerank-item-size: 10rem;
}

.table {
    width: 100%;
    height: auto;

    display: grid;
    grid-auto-flow: row dense;
}
