.rank {
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    padding-left: 4rem;

    transition: all 0.5s ease-in-out;
}

.rank.draggedOver {
    background-color: lightgray;
}

.rank.mid {
    background-color: #f0f0f0;
    height: 1.5rem;
}

.rank.mid.rank.draggedOver {
    background-color: lightblue;
    filter: blur(0.5);
}

.rank.header {
    height: 2rem;
}

.rank.footer {
    height: 3.5rem;
}

.rankList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--item-grid), var(--item-grid)));
}
