.rank {
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    padding: var(--rerank-rank-padding) 4rem;
}

.rank.draggedOver {
    background-color: lightgray;
}

.rank.mid {
    background-color: #f0f0f0;
    height: 0.5rem;
}

.rank.mid.rank.draggedOver {
    background-color: lightblue;
    filter: blur(0.5);
}

.rankList {
    --grid-size: calc(var(--rerank-item-size) + var(--rerank-rank-padding));
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--grid-size), var(--grid-size)));
}
