.item {
    width: var(--rerank-item-size);
    height: var(--rerank-item-size);
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 1rem; 
    position: relative;
}

.item.dragging {
    visibility: hidden;
}