.header {
    height: var(--header-height);
    width: 100%;
    background-color: #f0f0f0;
    border-bottom: 1px solid var(--soild-line-color);
    padding-left: 2rem;
    display: grid;
    grid-template-columns: repeat(12, 8rem);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.title {
    height: var(--header-height);
    width: 100%;

    font-weight: bold;

    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.links {
    height: var(--header-height);
    width: 100%;

    color: grey;
    font-weight: bold;
    font-style: italic;

    grid-column: span 2;
    display: flex;
    align-items: center;

    user-select: none;
}

.links span {
    cursor: pointer;
}
