.table {
    width: 100%;
    height: auto;

    display: grid;
    grid-auto-flow: row dense;
    grid-auto-rows: max-content;
}

.buttons {
    height: 5rem;
    width: 100%;
    padding: 1rem 4rem 1rem 0rem;
    
    display: flex;
    justify-content: flex-end;
    /* border-bottom: 1px solid #d0d0d0; */

    transition: all 0.3s ease-in-out;
}

.buttons button {
    height: 3rem;
    width: 5rem;
    border-radius: 1rem;
    font-size: 1rem;
    margin: 0 1rem;
}